language: php

# list any PHP version you want to test against
php:
  - 5.4
  - 5.5
  - 5.6

# Commands to be run before your environment runs.
install: composer install --dev

# omitting "script:" will default to phpunit
script: phpunit --configuration tests/phpunit.xml

after_script:
  - vendor/bin/test-reporter
addons:
    code_climate:
        repo_token: 5bb4e82286c8da4f0a9ddcc1586cf17eae482cdefcd2d211ad8041df79493748