<div id="authIdleCheckerWarning" hidden class="hidden">
    <div class="alert alert-warning clearfix">
        <p>{{ trans('You have been inactive for a while. You will be logged out shortly.') }}</p>

        <div class="pull-right">
            <button class="btn btn-primary" id="authIdleCheckerWarningAlive">{{ trans('Stay logged in') }}</button>
            <button class="btn btn-secondary" id="authIdleCheckerWarningIgnore">{{ trans('Ignore') }}</button>
        </div>
    </div>
</div>