<ol id="crumbs" class="breadcrumb no-print">
    {% for breadcrumb in breadcrumbs %}
        {% if breadcrumb.url is defined %}
            <li class="breadcrumb-item"><a href="{{ breadcrumb.url }}">{{ breadcrumb.label }}</a></li>
        {%  else %}
            <li class="breadcrumb-item active"><span>{{ breadcrumb.label }}</span></li>
        {% endif %}
    {% endfor %}
</ol>
