<div class="errors">
    {% for messageType, messages in statusMessenger.getMessages() %}
        {% for message in messages %}
        <div class="alert alert-{{ messageType }} alert-dismissible">
            <div>{{ message }}</div>
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
            {% endfor %}
    {% endfor %}
</div>