<div class="errors">
    {% for messageInfo in statusMessenger.getMessages() %}
        {% for messageType, message in messageInfo %}
        <div class="alert alert-{{ messageType }} alert-dismissible">
            <div>{{ message }}</div>
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    {% endfor %}
</div>